*{
body {
  margin: 30%;
  padding: 15%;
  font-family: Arial, sans-serif;
  background-color: #b35f00;
}

.gallery {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: blueviolet;
}

.column {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  padding: 20px;
}

}