* {
  box-sizing: border-box;
  margin: 0;
  background-color: #b06e0e;
}

h1 {
  font-family: arial;
  font-size: 3em;
  text-align: center;
  margin: 25px;
  padding: 50px;
  background-color: #17bdb9;
  color:rgb(250, 208, 19);
  overflow: hidden;
}

#flexbox {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  vertical-align: middle;
  margin-top: 8px;

  
}
img{
  padding: 20px;
    border: 20px solid black;
  
}

.column:nth-child(even) {
  display: flex;
  flex-direction: column-reverse;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}